.root {
    -fx-background-image: url("../assets/img/b1.jpg");
}
.Salesroot {
    -fx-background-image: url("../assets/img/bg.png");
}
.feedroot {
    -fx-background-image: url("../assets/img/b1.jpg");
}